[Unit]
Description=eigdo Empresa App (Next.js)
After=network.target

[Service]
WorkingDirectory=/opt/eigdo/frontend/app
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=eigdo-app
User=eigdo
Group=eigdo
Environment=NODE_ENV=production
Environment=PORT=3002
Environment=HOSTNAME=0.0.0.0
EnvironmentFile=/opt/eigdo/config/.env.app

[Install]
WantedBy=multi-user.target
